

body {
    margin: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    font-family: alienWorld;
    height: 100%;
    background-color: #333;
    /* #f4faff; */
}

h1 {
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: center;
    font-family: alienWorld;
    color: #ff6666;
}

#deckChooser {
    border-bottom: 2px solid #ff6666;
    box-shadow: 9px 1px 1px #800000; 
    color: #ff6666;
    width: 30%;
    margin: auto;
    margin-bottom: 170px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
}

#deckNamer {
    margin-right: 45px;
}

#header {
    margin-left: 10px;
    float:left;
    width: 50%;
}

#deckName {
    font-family: alienWorld;
    font-size: 30px;
    width: 50%;
    height: 40px;
    /* padding-top: 20px; */
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}

button {
    font-family: alienWorld;
    border: 1px ridge black;
    border-radius: 2px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}

#cardDiv {
    border: 1px solid #ff9c9c;
    background-color: #ff6666;
    width: 49%;
    float:right;
    height: 100%;

}

#deckDiv {
    margin-top: 28px;
    border: 1px solid #b1fbd6;
    background-color: #77ba99;
    width: 49%;
    float:left;
    height: 100%;
}

table {
    width: 100%;
    margin: 30;
    height: 100%;
}

tr {
    width: 49%;
    /* border-top: 1px solid black; */

}