

body {
    margin: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    font-family: alienWorld;
    height: 100%;
    background-color: #333;
}

h1 {
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: center;
    font-family: alienWorld;
    color: #ff6666;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
}

input {
    font-family: alienWorld;
}

#deckChooser {
    border-bottom: 2px solid #ff6666;
    box-shadow: 9px 1px 1px #800000; 
    color: #ff6666;
    width: 36%;
    margin: auto;
    margin-bottom: 170px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
}

#deckNamer {
    margin-right: 45px;
}

#header {
    margin-left: 10px;
    float:left;
    width: 50%;
}

#deckName {
    font-family: alienWorld;
    font-size: 20px;
    width: 50%;
    height: 40px;
    /* padding-top: 20px; */
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    color: #77ba99;
}



button {
    font-family: alienWorld;
    border: 1px ridge black;
    background: rgb(67, 67, 67);
	margin: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
	color: #222;
	font-size: 16px;
}

button:hover {
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
	font-size: 15px;
	transition: 500ms;
    color: #93f071;
	text-shadow: 0px 0px 10px #93f071;
}

button:focus {
	outline: none;
}

#cardDiv {
    border: 1px solid #ef7c7c;
    background-color: #b34a4a;
    width: 49%;
    float:right;
    height: 100%;

}

#deckDiv {
    margin-top: 48px;
    border: 1px solid #b1fbd6;
    background-color: #77ba99;
    width: 49%;
    float:left;
    height: 100%;
}

table {
    width: 100%;
    margin: 30;
    height: 100%;
}

tr {
    width: 49%;
    /* border-top: 1px solid black; */

}